body {
    padding: 0;
    margin: auto;

    width: auto;
}

.visually-hidden {
    position: absolute;
    padding: 0;
    margin: -1px;

    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.btn-null{
    padding: 0;

    font-size:0;
    line-height: 0;
    font-weight: 400;
    color: #ffffff;

    background: none;
    border: 0;
    overflow: visible;
    cursor: pointer;
}

.modal-overlay {
    position: fixed;

    width: 100%;
    height: 100%;

    top:0;
    left: 0;

    background-color: #000000;
    opacity: 0.3;

    z-index: 1;
    display: none;

}

.btn {
    margin-bottom: 4px;
    padding-top: 7px;

    font-size: 18px;
    line-height: 24px;
    font-weight: bold;
    text-decoration: none;
    color: #000000;

    border-bottom: 1px solid rgba(0,0,0,0.2);
}

.btn:hover,
.btn:focus {
    margin-bottom: 0;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;

    color: #e6ca76;
    background-color: #3a3c38;
    box-shadow: 1px 3px 7px 0 #3a3c38;
    border: 1px solid rgba(0,0,0,0.5);
    border-radius: 50px;
}


.button-start {
    position: fixed;

    margin-left: -71px;

    top:50%;
    left:50%;
}

.button-start:hover,
.button-start:focus {
    margin-left: -82px;
}

.modal-form-feedback {
    position: fixed;
    margin-left: -165px;


    width: 330px;

    top: 25%;
    left: 50%;

    border-radius: 10px;
    background: linear-gradient( 360deg, #6a5c42 0%, #e6ca76 100%);
    border: 1px solid #6a5c42;
    box-shadow: 5px 5px 5px 2px rgba(0,0,0,0.5);

    z-index: 2;

    display: none;
}

.modal-user-answer,
.modal-user-finish {
    display: none;
}

.modal-form-feedback-close {
    position: absolute;

    width: 18px;
    height: 17px;

    top: 10px;
    right: 10px;

    font-size: 0;

    background-image: url("img/cross-big.svg");
    background-color: #e1c265;
    border: 0;

    cursor: pointer;
}

.modal-form-feedback h2 {
   padding: 0;
   text-align: center;

    font-size: 24px;
    line-height: 28px;
    font-weight: 700;
    color: #000000;

}

label[for^="user"] {
    margin-left: 34px;
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 600;
    line-height: 18px;

    display: block;
}

.modal-user-input {
    min-width: 252px;

    margin-left: auto;
    margin-right: auto;
    margin-bottom: 3px;
    padding-left: 13px;
    padding-top: 10px;
    padding-bottom: 9px;

    font-size: 16px;
    line-height: 24px;
    font-weight: 700;

    background-color: #ffffff;
    border: solid 1px rgba(178, 178, 178, 0.52);
    border-radius: 5px;

    display: block;
}

.modal-user-input::-webkit-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.modal-user-input:-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.modal-user-input::-ms-input-placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.modal-user-input::placeholder {
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;
    color: #999999;
}

.button-form-modal {
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    margin-bottom: 17px;

    display: none;
}

.button-form-modal:hover,
.button-form-modal:focus {
    margin-bottom: 13px;
}

.error-anime {
    border: 1px solid red;
}

.user-answer {
    margin: 0;
    padding: 0;
    margin-bottom: 20px;

    list-style: none;
}

.btn-answer {
    display: table;
}

.user-answer p {
    margin-left: 34px;
    margin-bottom: 5px;

    font-size: 16px;
    font-weight: 600;
    line-height: 18px;
}

.user-answer li {
    margin-bottom: 20px;
}

li .header-answer {
    font-size: 18px;
    margin-bottom: 10px;
}

.alert {
    position: fixed;

    width: 320px;

    top:20%;
    left: 50%;

    margin-left: -160px;

    font-size: 20px;
    font-weight: 600;
    text-align: center;

    background-color: #ffffff;
    border-radius: 5px;
    border: 2px solid #ff0000;
    box-shadow: 0 0 4px 3px rgba(255,0,0,0.3);

    display: none;

    z-index: 4;
}

.overlay-alert {
    position: fixed;

    width: 100%;
    height: 100%;

    top:0;
    left: 0;

    background-color: rgba(214, 10, 20, 0.27);

    z-index: 3;
    display: none;
}